@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

*,
*::before,
*::after {
	-webkit-touch-callout: none; // https://clck.ru/9HHvq
}

body {

	font: {
		size: $font-size;
		family: 'Fira Sans', sans-serif;
	};

	margin: 0;
	scroll-behavior: smooth;

	@include k19.props-apply((
		background-color: clrBackground,
		color: clrFont
	));

	// https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// https://developer.mozilla.org/ru/docs/Web/CSS/user-select
	@include k19.prefixer-legacy(
		user-select,
		none
	);

	// https://clck.ru/NNamf
	@include k19.prefixer(
		text-size-adjust,
		100%,
		webkit
	);

}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

h1 { font-size: $font-size_h1; }
h2 { font-size: $font-size_h2; }
h3 { font-size: $font-size_h3; }
h4 { font-size: $font-size_h4; }
h5 { font-size: $font-size_h5; }
h6 { font-size: $font-size_h6; }

img {
	border-style: none;
	overflow: none;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

a {

	color: var(--clrAccent);

	&:hover { text-decoration: none; }

}

[hidden] {
	@include k19.visually-hidden();
}

[disabled]:not([disabled="false"]) {

	pointer-events: none;
	cursor: not-allowed;

	@include k19.opacity(0.50);

}

.mi {

	@include k19.flexbox();
	@include k19.align-items(center);

	.material-icons {
		// margin-top: -1px;
		margin-right: 8px;
	}

}