@use 'sass:math'; // ? Модули из пакета SASS
@use 'sass:map';  // ? Модули из пакета SASS

@use 'variables' as *; // ? Переменные

// ? Модуль Kalium19 (https://github.com/91muilak)
@use '../../node_modules/@rx1310/kalium19' as k19 with (

	// настройка миксина border-radius();
	$border-radius: 12px,

	// настрока миксинов BEM
	$bem: (
		element: '__',
		modifier: '--'
	)

);

// ? Импорты
@import 'themer';
@import 'base';

@import '@nav';
@import '@header';
@import '@footer';
@import '@card';
@import '@btn';
// @import '@list';