<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		{% include "_head/meta.njk" %}
		{% include "_head/link.njk" %}
	</head>
	<body>

		{% include "nav.njk" %}
		{% include "header.njk" %}

		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8">
					<ul class="list-posts">
						<li class="title">Посты</li>
						{% for post in collections.blog %}
							<li class="post">
								<a href="{{ post.url | url }}" class="post__link"></a>
								<div class="mi">
									<span class="material-icons">article</span>
									<span class="post__title">{{ post.data.header.title }}</span>
								</div>
								<p class="post__description">{{ post.data.header.subtitle }}</p>
								<small disabled>{{ post.date.toUTCString() }}</small>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-12 col-md-4">

				</div>
			</div>
		</div>

		{% include "footer.njk" %}
		{% include "scripts.njk" %}

	</body>
</html>