<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		{% include "_head/meta.njk" %}
		{% include "_head/link.njk" %}
	</head>
	<body>

		{% include "nav.njk" %}
		{% include "header.njk" %}

		<br>

		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8">
					{% for post in collections.blog %}
						<div class="card card--clickable">
							<a href="{{ post.url | url }}" class="card__link"></a>
							<h5 class="card__title">{{ post.data.header.title }}</h5>
							<p class="card__message">{{ post.data.header.subtitle }}</p>
							<p class="card__message mi" disabled><span class="material-icons">edit_calendar</span> {{ post.date }}</p>
						</div>
						<br>
					{% endfor %}
					</ol>
				</div>
			</div>
		</div>

		{% include "footer.njk" %}
		{% include "scripts.njk" %}

	</body>
</html>