<div
	class="alert alert--info alert--clickable"
	id="alertCookies"
	title="Я понимаю. Я и сам заебался с этими сообщениями о кукисах-хуюкисах. Я в принципе мог бы и вовсе не оповещать тебя об использовании cookies, но т.к. они используются я считаю правильным оповестить пользователя. Cookies используется (например) для сохранения состояния темы. Если закрыть полностью вкладку и открыть снова, то тема останется той, которую вы выбрали.">
	<p class="alert_message">🍪 Мой сайт использует файлы cookies. Продолжая посещение сайта, вы автоматически соглашаетесь с использованием этой технологий.</p>
	<p class="alert_message" disabled>Нажмите на эту карточку, чтобы скрыть это сообщение.</p>
</div>

