// * BtnGroup
@include k19.b(btn-group) {

	border  : 2px solid var(--clrAccent);
	overflow: hidden;

	@include k19.flexbox(inline);
	@include k19.border-radius(14px);

	// * Group:Block
	@include k19.m(block) {

		@include k19.flexbox();

		button {
			@include k19.flex-grow(1);
		}

	} // ! Group:Block

	& > button {
		border: none;
		margin: 1px;
	}

} // ! BtnGroup