<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		{% include "head.njk" %}
		<style>
	svg {
	width: 100px;
	margin: 0
	}
</style>
	</head>
	<body>

		{% include "nav.njk" %}
		{% include "header.njk" %}

		{% include "footer.njk" %}

		<div class="container">
			<div class="row">
				<div class="col-12">
					<button onclick="themerToggle()">Toggle</button>
					{# {% for list in icons.icons %}
						<span><svg style="--iconColor: var(--clrFont)"><use xlink:href="assets/images/icons.svg#{{ list }}"></use></svg></span>
					{% endfor %} #}
				</div>
			</div>
		</div>

		{% include "scripts.njk" %}


	</body>
</html>