<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		{% include "head.njk" %}
	</head>
	<body>

		<center>
			<button onclick="themerToggle()">Toggle theme</button>
		</center>

		<script src="js/themer.js"></script>

	</body>
</html>