<footer class="footer_wrapper">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-4 order-md-1">
				<div class="footer">
					<br>
					<div class="card">
						<h5 class="card_title mi"><span onclick="themerToggle()" class="material-icons" title="Нажми на иконочку))">dark_mode</span> Тема сайта</h5>
						<p class="card_message">Если Вам "бьет" в глаза светлая тема в темноте, то рекомендую сменить тему на тёмную.</p>
						<div class="btn-group btn-group--block">
							<button class="btn" onclick="themerSet(themes.light, colors.light)">Светлая</button>
							<button class="btn" onclick="themerSet(themes.dark, colors.dark)">Темная</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-8">
				<div class="footer">

					<h5>Связь со мной</h5>
					<p>Ниже список основным моих соц. сетей, по которым можно связаться со мной или следить за тем, что нового я делаю.</p>
					<div class="links">
						{% for id, data in social %}
							<a
								{% if data.iconColor != null %}
									style="--iconColor: {{ data.iconColor }}"
								{% endif %}
								class="links_link"
								href="{{ data.url }}"
								title="Нажмите, чтобы перейти в {{ data.title }} →"
								aria-label="Перейти в {{ data.title }}">
								<svg class="links_link_icon">
									<use xlink:href="assets/images/icons.svg#{{ id }}"></use>
								</svg>
							</a>
						{% endfor %}
					</div>

					<h5>Поддержать</h5>
					<p>Если Вам нравится то, чем я занимаюсь, то Вы можете поддержать меня материально. Угостить кофейком, так сказать.</p>
					<div class="links">
						{% for id, data in donate %}
							<a
								{% if data.iconColor != null %}
									style="--iconColor: {{ data.iconColor }}"
								{% endif %}
								class="links_link"
								href="{{ data.url }}"
								title="Нажмите, чтобы перейти в {{ data.title }} →"
								aria-label="Перейти в {{ data.title }}">
								<svg class="links_link_icon">
									<use xlink:href="assets/images/icons.svg#{{ id }}"></use>
								</svg>
							</a>
						{% endfor %}
					</div>
					<h5>Лицензии</h5>
					<p>Мой сайт является проектом с открытым <a href="https://github.com/rx1310/rx1310.github.io" title="Открыть репозиторий на GitHub →">исходным кодом</a>. Сайт находится под защитой лицензии <a href="https://github.com/rx1310/rx1310.github.io/blob/main/LICENSE">Apache-2.0</a>.</p>

					<p disabled>Copyright &copy; 2022 Haba Kudzaev (rx1310)</p>

				</div>
			</div>

		</div>
	</div>
</footer>