<footer class="footer_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h6>Связь со мной</h6>
				<div class="footer-links">
					{% for id, data in social %}
						<a
							{% if data.iconColor != null %}
								style="--iconColor: {{ data.iconColor }}"
							{% endif %}
							class="footer-links_link"
							href="{{ data.url }}"
							title="Нажмите, чтобы перейти в {{ data.title }} →"
							aria-label="Перейти в {{ data.title }}">
							<svg class="footer-links_link_icon">
								<use xlink:href="assets/images/icons.svg#{{ id }}"></use>
							</svg>
							<span class="footer-links_link_name">{{ data.title }}</span>
						</a>
					{% endfor %}
				</div>
				<br>
				<div class="alert">
					<h5 class="alert_title">📃 Лицензии</h5>
					<p class="alert_message">Материал сайта, а также сам сайт распространяется открыто по лицензии <a href="https://github.com/rx1310/rx1310.github.io/blob/main/LICENSE">Apache-2.0</a>. Под исключения попадают только средства разработки и графика сайта.</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</footer>