<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{# Короткое описание страницы (ограничение — 150 символов) #}
<meta name="description" content="{{ page.desc }}">

{# Facebook Meta Tags #}
<meta property="og:url" content="https://rx1310.github.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.appName }}">
<meta property="og:description" content="{{ page.desc }}">
<meta property="og:image" content="/assets/images/og.jpg">

{# Twitter Meta Tags #}
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="">
<meta property="twitter:url" content="https://rx1310.github.io/">
<meta name="twitter:title" content="{{ page.appName }}">
<meta name="twitter:description" content="{{ page.desc }}">
<meta name="twitter:image" content="/assets/images/og.jpg">

{# Контролирует поведение поисковых систем при индексации страницы #}
<meta name="robots" content="index,follow"> {# Все поисковые системы #}
<meta name="googlebot" content="index,follow"> {# Указание отдельно для Google #}


{# Добавить на домашний экран #}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

{# Theme Color for Chrome, Firefox OS and Opera #}
<meta name="theme-color" content="{{ page.themeColor if page.themeColor else '#e8ebef' }}">
<meta name="msapplication-TileColor" content="{{ page.themeColor if page.themeColor else "#e8ebef" }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ page.themeColor if page.themeColor else "#e8ebef" }}">
<meta name="color-scheme" content="dark light">

<meta name="application-name" content="{{ page.appName }}">
<meta name="apple-mobile-web-app-title" content="{{ page.appName }}">

{# <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml"> #}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/vendor/sanitize.css">
<link rel="stylesheet" href="/css/vendor/grid.css">

<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<title>{{ page.title }} / rx1310</title>