<header class="header_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header">

					{% if header.image != null %}
						<img
							src="{{ header.image.url }}"
							alt="{{ header.image.alt }}"
							aria-label="{{ header.image.alt }}"
							title="{{ header.image.alt }}"
							class="header_image">
					{% endif %}

					<h1 class="header_title">{{ header.title }}</h1>
					<p class="header_subtitle">{{ header.subtitle }}</p>

					{% include "_alerts/cookies.njk" %}

				</div>
			</div>
		</div>
	</div>
</header>