@use 'sass:math'; // Модули из пакета SASS
@use 'sass:map';  // Модули из пакета SASS
@use 'variables' as *; // Переменные
@use '../../node_modules/@rx1310/kalium19' as k19 with (

	// настройка миксина border-radius();
	$border-radius: 12px,

	// настрока миксинов BEM
	$bem: (
		element: '_',
		modifier: '--'
	),

	// настройка миксина media()
	$mediaQueries: (
		null: null,
		sm: 'screen and (min-width: 576px)',
		md: 'screen and (min-width: 768px)',
		lg: 'screen and (min-width: 992px)',
		xl: 'screen and (min-width: 1200px)',
	)

);

// ? Импорты
@import 'themer';
@import 'base';
@import 'ui/nav';
@import 'ui/header';
@import 'ui/footer';
@import 'ui/alert';