<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		{% include "_head/meta.njk" %}
		{% include "_head/link.njk" %}
	</head>
	<body class="img--rounded">

		{% include "nav.njk" %}
		{% include "header.njk" %}

		<div class="container">
			<div class="row">
				<div class="col-12">
					{{ content | safe }}
				</div>
			</div>
		</div>

		{# {%- if collections.posts %}
		{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
		{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
		{%- if nextPost or previousPost %}
		<hr>
		<ul>
			{%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
			{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
		</ul>
		{%- endif %}
		{%- endif %} #}

		{% include "footer.njk" %}
		{% include "scripts.njk" %}

	</body>
</html>