{% import "../macros/_footer/links.njk" as links %}

<footer class="footer__wrapper">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-4 order-md-1">
				<div class="footer">

					<br>
					<div class="card">
						<h5 class="card__title mi"><span onclick="themerToggle()" class="material-icons" title="Нажми на иконочку))">dark_mode</span> Тема сайта</h5>
						<p class="card__message">Если Вам "бьет" в глаза светлая тема в темноте, то рекомендую сменить тему на тёмную.</p>
						<div class="btn-group btn-group--block">
							<button class="btn" onclick="themerSet(themes.light, colors.light)">Светлая</button>
							<button class="btn" onclick="themerSet(themes.dark, colors.dark)">Темная</button>
						</div>
					</div>

					{% if footer.showSiteStatusCard != false %}
						<br>
						<div class="card">
							<h5 class="card__title mi"><span class="material-icons">bar_chart</span>Статус сайта</h5>
							<img src="https://api.netlify.com/api/v1/badges/f17d8dc6-b0b7-4e77-a46d-2e4c4c3b4488/deploy-status" alt="Статус деплоя на Netlify">
							<br>
							{% for badge, data in badges %}
								<img src="{{ data.src }}" alt="{{ data.alt }}" title="{{ data.alt }}">
							{% endfor %}
						</div>
					{% endif %}

				</div>
			</div>

			<div class="col-12 col-md-8">
				<div class="footer">

					<h5>Связь со мной</h5>
					<p>Ниже список основным моих соц. сетей, по которым можно связаться со мной или следить за тем, что нового я делаю.</p>
					<div>
						{% for id, data in social %}
							{{ links.link(data.title, data.url, "icons", id, data.iconColor) }}
						{% endfor %}
					</div>

					<h5>Поддержать</h5>
					<p>Если Вам нравится то, чем я занимаюсь, то Вы можете поддержать меня материально. Угостить кофейком, так сказать.</p>
					<div>
						{% for id, data in donate %}
							{{ links.link(data.title, data.url, "icons", id, data.iconColor) }}
						{% endfor %}
					</div>


					<h5>Лицензии</h5>
					<p>Мой сайт является проектом с открытым <a href="https://github.com/rx1310/rx1310.github.io" title="Открыть репозиторий на GitHub →">исходным кодом</a>. Сайт находится под защитой лицензии <a href="https://github.com/rx1310/rx1310.github.io/blob/main/LICENSE">Apache-2.0</a>.</p>

					<p style="margin-bottom:20px" disabled>Copyright &copy; 2022 Haba Kudzaev (rx1310)</p>

				</div>
			</div>

		</div>
	</div>
</footer>