<header class="header__wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header">

					{% if header.image != null %}
						<img
							src="{{ header.image.url }}"
							alt="{{ header.image.alt }}"
							title="{{ header.image.alt }}"
							class="header__image">
					{% endif %}

					<h1 class="header__title">{{ header.title }}</h1>
					<p class="header__subtitle">{{ header.subtitle }}</p>

				</div>
			</div>
		</div>
	</div>
</header>